/* ManageOrder.module.scss */
button {
    background-color: #5a6268;
    color: #ffffff;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    // &:hover {
    //     background-color: #5a6268;
    // }
}